node_modules
package-lock.json

/.cache
/.vscode
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
extensions/*/dist

.env
package-lock.json
yarn.lock
